#app {
  height: 100%;
  background-color: white;
  background-size: 100% 100%;
  font-family: Ubuntu;
  margin: 0;
}

#body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#body, a:link, a:visited, a:active {
  color: lightblue
}

/* NAVBAR ITEMS BELOW */

#navbar {
  background-color: rgb(70, 64, 121);
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  height: 60px;
}

#navbar h2 {
  color: white;
  font-style: oblique;
}

.navbar {
  border: none;
  height: auto;
  display: flex;
}

.navbar button {
  border: none;
  height: auto;
  background-color:rgb(70, 64, 121);
  cursor: pointer;
  font-weight: bold;
  color: lightblue;
}

.navbar input[type="text"] {
  border: none;
  background-color: rgba(173, 216, 230, 0.75);
  font-weight: bold;
  color: white;
}

#toggleBar {
  display: flex;
  cursor: pointer;
}

.toggleDiv {
  background-color: rgb(70, 64, 121);
  color: lightblue;
  margin: 20px 0px 0px 0px;
  padding: .7em 1em;
  cursor: pointer;
  font-size: 16px;
  font-weight: lighter;
}

.toggleDiv:hover:not(.toggled) {
  background-color: lightblue;
  color:rgb(70, 64, 121);
  font-weight: normal;
}

.toggled {
  background-color: white;
  color: rgb(70, 64, 121);
  font-weight: bold;
}


#all {
  border-top-left-radius: 10px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-bottom: none;
}

#watched {
  border-bottom: none;
  border-top: 1px solid white;
}

#unwatched {
  border-top: 1px solid white;
  border-bottom: none;
}

#search {
  border-top-right-radius: 10px;
  border-right: 1px solid white;
  border-top: 1px solid white;
  border-bottom: none;
}

/* MOVIE LIST ITEMS BELOW */


.movieList {
  display: inline-block;
  padding-top: 40px;
  align-items: center;
}

.movieItem {
  display: flex;
  width: 15%;
  padding: 0 1rem 0 1rem;
  margin: .5rem .5rem .5rem .5rem;
  vertical-align: top;
  border: 2px solid lightblue;
  border-radius: 15px;
  color: black;
  justify-content: space-between;
}

.movieItem h3 {
  font-weight: lighter;
}

.watchButton {
  border: none;
  cursor: pointer;
  font-size: 9px;
}

.watchButton:hover {
  font-weight: bold;
}

.visible {
  display: inherit;
}

.not-visible {
  display: none;
}

.watched {
  text-decoration: line-through;
}

.unwatched {
  text-decoration: none;
}


/* FOOTER */

#footer {
  display: flex;
  position: fixed;
  justify-content: center;
  background-color: rgb(70, 64, 121);
  left: 0;
  bottom: 0;
  right: 0;
  font-weight: bold;
  color: white;
}
