#app {
  display: grid | inline-grid;
  justify-content: space-between;
  align-items: center;
  font-family: Ubuntu;
}

#movieListHeader {
  background-color: lightgray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

#toggleList {

}

#addBar {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.watchedButton {

}

.movieListing {
  display: flex;
  justify-content: center;
  align-items: center;
}
